body {
    background-color: #e4e4e4;
}

div {
    box-sizing: border-box;
}

.quiz {
    width: 90%;
    max-width: 975px;
    margin: 0 auto;
    margin-top: 50px;
}

.question {
    background-color: #0094da;
    color: white;
    padding: 10px;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    text-align: center;
}

.result {
    background-color: #fff;
    min-height: 300px;
    text-align: center;
}

.congratulations, .errors {
    padding: 20px;
    font-size: 28px;
    color: #fff;
    text-align: center;
}

.congratulations {
    background-color: #0094da;
}

.errors {
    background-color: #dc0a0a;
}

.result-info {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    text-align: center;
}

.answer {
    width: 100%;
    background: #fff;
    border: 2px solid #0094da;
    min-height: 70px;
    cursor: pointer;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.answers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

.answer-letter {
    font-size: 24px;
    background-color: #0084da;
    color: #fff;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.answer-text {
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-left: 20px;
    flex-grow: 1;
}

.correct-answer {
    border: 2px solid #1ea55b;
}

.correct-answer .answer-letter {
    background: #1ea55b;
}

.wrong-answer {
    border: 2px solid #dc0a0a;
}

.wrong-answer .answer-letter {
    background: #dc0a0a;
}

.next-button {
    margin: 20px auto;
    color: #fff;
    background: #0b0e21;
    max-width: 300px;
    font-size: 18px;
    font-weight: 600;
    padding: 14px 20px;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
}

.score {
    background: #fff;
    color: #000;
    font-size: 18px;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 30px;
    font-weight: 600;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.disabled-answer {
    pointer-events: none;
}

.disabled-button {
    pointer-events: none;
}

/* Media Queries for Responsiveness */

@media (min-width: 600px) {
    .quiz {
        margin-top: 70px;
    }

    .answer {
        width: 48%;
    }
}

@media (min-width: 768px) {
    .quiz {
        margin-top: 100px;
    }

    .answer {
        width: 48%;
        margin-bottom: 30px;
    }

    .answer-letter {
        font-size: 30px;
        width: 70px;
    }

    .question {
        font-size: 24px;
    }

    .congratulations, .errors {
        font-size: 36px;
    }
}

@media (min-width: 1024px) {
    .quiz {
        width: 975px;
        margin-top: 100px;
    }

    .next-button {
        width: 300px;
        padding: 14px 75px;
    }
}
